*,body{
    margin: 0;
    padding: 0;
}

body{
    background-image:url('../assets/mathbackground.jpg');    
    color: #eaeaea;
}


.navbar-nav {
    margin-left: 50px;
    padding: 0 10px 0 10px;
    z-index: 999;
}

.nav-link{
    border-radius: 10px;
    margin: 10px;
}

.navbar-nav a:hover {
    background-color: rgb(255, 94, 0);
    border-radius: 10px;
    transition: ease-in-out .4s;
  }

.navbar-brand span{
    font-size: 15px;
    color: gray;
    margin-left: 5px;
}

.navbar-brand{
    font-size: 28px;
}
.navbar{
    background-color: transparent;
    position: fixed;
}

/* Nav selesai */

#content1{

display: flex;
justify-content:center;
align-items: center;
height: 90vh;
  }
.content1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #eaeaea;
}

  #btnstart{
    width: 100px;
    height: 40px;
    background-color: rgb(255, 94, 0);
    border: none;
  }

  #content a{
    color: #eaeaea;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  #btnstart:hover{
    background-color: #eaeaea;
  }
  #btnstart:hover{
    color: rgb(255, 94, 0);
    transition: ease-in-out .5s;
  }

  .content1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column; 
  }

  /* content 1 selesai */

  #content2{
    background-color: #232323;
    width: 100%;
    height: 60px;

  }

  .content2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .isi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .isi p{
    margin-top: 12px;
    margin-left: 10px;
  }

  #content2 li{
    list-style: none;
  }

  .isi span{
    color:rgb(255, 94, 0) ;
  }
/* content 2 selesai */

/* content 3 */

#content3{
  display: flex;
  background-color: #eaeaea;
}

.content3{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:left;
  margin: 10px;
}

.cardcontent{
  width: 480px;
  /* background-color: #232323; */
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}


/* content 4 */
/* footer  */
.content4{
  height: 55px;
}

























  /* SIGN UP PAGEEEE */
 
  @media only screen and (max-width: 1000px) {

    .content3{
      justify-content: center;
      flex-wrap: wrap;
    }

    .cardcontent{
      width: 250px;
    }
  }

  @media only screen and (min-width: 1000px){
    .content3{
      justify-content: left;
      flex-wrap: wrap;
    }

    .cardcontent{
      width: 450px;
      margin-left: 28px;
    }
  }

  @media only screen and (max-width: 600px){

    #content2{
      height: 100%;
    }
    .content2{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
